* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('https://www.donapram.site/Resources/images/sky.avif');
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    position: sticky;
    top: 5px;
}

main {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 0px 10px;

}
footer {
    display: flex;
    position: sticky;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

nav {
    display: flex;
    position: sticky;
    top: 55px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    grid-column: 10;
    grid-row: 1;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#form input {
    display: flex;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

#form button {
    display: flex;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
    align-items: center;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

.login {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
}

.menu-button {
    display: flex;
    cursor: pointer;
}